extends ./../layout
block content
    table.mdl-data-table.mdl-js-data-table.mdl-data-table--selectable.mdl-shadow--2dp
        thead
            tr
                th.mdl-data-table__cell--non-numeric Users
        tbody
            each user in users
                tr
                    td.mdl-data-table__cell--non-numeric #{user.profile.name}
                    td
                        a.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--colored(href='/admin_edit/#{user.id}')
                            i.material-icons create
                                
                    td
                        a.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--colored(href='/delete/#{user.id}')
                            i.material-icons delete
    
