doctype html
html
    head
        title= title
        meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet', href='https://code.getmdl.io/1.2.0/material.indigo-pink.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet", type="text/css", href="/stylesheets/css/demo.css" )
        link(rel="stylesheet", type="text/css", href="/stylesheets/css/style.css" )
        link(rel="stylesheet", type="text/css", href="/stylesheets/css/animate-custom.css" )
    body
        block content
        script(defer='', src='https://code.getmdl.io/1.2.0/material.min.js')
        script(src='/javascripts/app.js')
