doctype html
html
    head
        title= title
        meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
        link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet", type="text/css", href="/stylesheets/css/demo.css" )
        link(rel="stylesheet", type="text/css", href="/stylesheets/css/style.css" )
        link(rel="stylesheet", type="text/css", href="/stylesheets/css/animate-custom.css" )
    body
        block content
        script(src='/javascripts/app.js')
