extends ./../layout

block content
    .center
        h1 Login
        form(method='POST')
            md-input-container
                label Email
                md-icon.email.material-icons email
                input(name='email', required='true', type= 'email')
            br
            md-input-container
                label Pessword
                md-icon.vpn_key.material-icons vpn_key
                input(name='password', required='true', type= 'password')
            br
            md-button.md-raised.md-primary(type='submit') Login 
    
