extends ./../layout

block content
    main.mdl-layout__content.mdl-color--grey-100
        if (message)
            .alert.alert-danger.text-center(role='alert')
                p= message 
        else    
            .container
                section
                    #container_demo
                        #wrapper
                            #login.animate.form
                                form(method= 'post', action='')
                                    h1 Reset Password
                                    p
                                        label.uname(for='password', data-icon='p')  New password
                                        input#username(name='pass', required='required', type='password', placeholder='')
                                
                                    p.login.button
                                        input(type='submit', value='Reset')

