extends ./../layout

block content
    if (errors.length > 0)
        p= errors 
    .container_demo
        section
            #wrapper
                #login.animate.form
                    form(action='', autocomplete='on', method='post')
                        h1  Sign up 
                        p
                            label.uname(for='usernamesignup', data-icon='u') Your username
                            input#usernamesignup(name='nom', required='required', type='text', placeholder='mysuperusername690')
                        p
                            label.youmail(for='emailsignup', data-icon='e')  Your email
                            input#emailsignup(name='email', required='required', type='email', placeholder='mysupermail@mail.com')
                        p
                            label.youpasswd(for='passwordsignup', data-icon='p') Your password 
                            input#passwordsignup(name='password', required='required', type='password', placeholder='eg. X8df!90EO')
                        p
                            label.youpasswd(for='passwordsignup_confirm', data-icon='p') Please confirm your password 
                            input#passwordsignup_confirm(name='password1', required='required', type='password', placeholder='eg. X8df!90EO')
                        p.signin.button
                            input(type='submit', value='Sign up')
                        p.change_link
                            | Already a member ?
                            a.to_register(href='/login')  Go and log in 
                                
